body {
  background-color: #121212;
  margin: 0 !important;
  padding: 0 !important;
}

.hobbies-button {
  color: white;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
  transition: 0.6s;
}


.contact-button {
  color: white;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
  transition: 0.6s;
}

.hobbies-button:hover{
  background-color: white;
  border-radius: 15px;
  color: black;
}

.contact-button:hover{
  background-color: white;
  border-radius: 15px;
  color: black;
}

header {
  background-color: #1F1F1F;
  padding: 1em 0;
  width: 100%;
  height: 60px;
  display: block;
  justify-content: right;
  position: static;
  font-family: 'Roboto Mono', monospace;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  list-style: none;
}

header ul li a {
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 6px;
  color: #d7d7d7;
}

.name-container {
  background-color: #1E1E1E;
  color: #d7d7d7;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 40px;
  /* position: static; */
  height: 663px;
  width: 85%;
  margin: 0 auto;
  margin-top: 54px;
}

.h1-name{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 180px;
}

.p-name{
  margin: 0;
  
}

/* FrontEnd Text */
.header-profession {
  /* background-color: #1E1E1E; */
  font-size: 35px;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
}

.programming-h2 {
  text-align: center;
  color: #d7d7d7;
  font-size: 23px;
}

.skills-container {
  background-color: #1E1E1E;
  /* position: absolute; */
  height: 658px;
  width: 85%;
  margin: 0 auto;
  margin-top: 54px;
  left: 110px;
}

img {
  width: 127px;
  height: 127px;
  padding-left: 50px;
  

}

.work-container {
  background-color: #1E1E1E;
  text-align: center;
  color: #d7d7d7;
  margin: 0 auto;
  margin-top: 54px;
  height: 658px;
  width: 84.9%;
  left: 110px;
}

/* "ABOUT ME" SECTION
Hacer que el header me lleve
a la seccion de about me
sin abrir pestañas nuevas
(Todo en una pagina?)*/